{% extends "base.html" %}
{% load humanize %}

{% block content %}

    <h1>{{ pageUser.username }}</h1>

    {% if user.is_authenticated %}
        {% if user.username == pageUser.username %}
            <a href="{% url 'change_password' %}">change password</a>
        {% endif %}
    {% endif %}

    <p>Polls created: {{ poll_count }}</p>

    <p>Latest polls:</p>

    {% if last_polls %}
        <table>
            {% for poll in last_polls %}
            <tr>
                <td><a href="{{ poll.get_url }}">{{ poll.title }}</a></td>
                <td>{{ poll.date_created|naturaltime }}</td>
            </tr>

            {% endfor %}
        </table>
    {% else %}
        <p>No polls.</p>
    {% endif %}

{% endblock %}