{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Poll</title>

    {% block scripts %}{% endblock %}

    <link rel="stylesheet" href="{% static 'style.css' %}" />
</head>
<body>

<div id="Menu">
    <a href="{% url 'home' %}">Home</a>
    <a href="{% url 'add_poll' %}">Add poll</a>

    {% if user.is_authenticated %}
        <a href="{% url 'user_page' user.username %}">{{ user.username }}</a>
        <a href="{% url 'logout' %}?next={{ request.get_full_path|urlencode }}">logout</a>
    {% else %}
        <a href="{% url 'login' %}?next={{ request.get_full_path|urlencode }}">login</a>
    {% endif %}
</div>

{% block content %}{% endblock %}

</body>
</html>