{% extends "base.html" %}
{% load humanize %}

{% block content %}

<h2>Available polls</h2>

{% if polls %}
    <table>
        <tr>
            <th>title</th>
            <th>total votes</th>
            <th>date created</th>
        </tr>

    {% for poll in polls %}
        <tr>
            <td><a href="{{ poll.get_url }}">{{ poll.title }}</a></td>
            <td>{{ poll.get_total_votes }}</td>
            <td>{{ poll.date_created|naturaltime }}</td>
            <td><a href="{{ poll.get_result_url }}">results</a></td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>
       No polls available.
    </p>
{% endif %}

{% endblock %}