{% extends "base.html" %}
{% load humanize %}
{% load accounts %}

{% block content %}

<h2 id="PollTitle">
    {{ title }}

    {% if user.is_authenticated %}
        <a href="{% url 'home' %}" {% if all_selected %}class="selected"{% endif %}>all</a>
        <a href="{% url 'home' %}?filter=already_voted" {% if voted_selected %}class="selected"{% endif %}>voted</a>
        <a href="{% url 'home' %}?filter=not_voted" {% if not_voted_selected %}class="selected"{% endif %}>not voted</a>
    {% endif %}
</h2>

{% if polls %}
    <ul class="horizontalList pageNumber">
    {% for pageNumber in pages_list %}
        <li><a href="{% url 'home' pageNumber %}?filter={{ filter }}" class="PageLink">
            {% if pageNumber == page %}
                <em>{{ pageNumber }}</em>
            {% else %}
                {{ pageNumber }}
            {% endif %}
        </a></li>
    {% endfor %}
    </ul>

    <table id="PollTable">
        <tr>
            <th>title</th>
            <th>total votes</th>
            <th>created by</th>
            <th>date created</th>
        </tr>

    {% for poll in polls %}
        <tr>
            <td><a href="{{ poll.get_url }}">{{ poll.title }}</a></td>
            <td>{{ poll.get_total_votes }}</td>
            <td>{{ poll.user|account_name }}</td>
            <td>{{ poll.date_created|naturaltime }}</td>
            <td><a href="{{ poll.get_result_url }}">results</a></td>
        </tr>
    {% endfor %}
    </table>


    <ul class="horizontalList pageNumber">
    {% for pageNumber in pages_list %}
        <li><a href="{% url 'home' pageNumber %}?filter={{ filter }}" class="PageLink">
            {% if pageNumber == page %}
                <em>{{ pageNumber }}</em>
            {% else %}
                {{ pageNumber }}
            {% endif %}
        </a></li>
    {% endfor %}
    </ul>


{% else %}
    <p>
       No polls available.
    </p>
{% endif %}

{% endblock %}