{% load accounts %}
{% load humanize %}

{% if polls %}
    <table id="PollTable">
        <tr>
            <th>title</th>
            <th>total votes</th>
            <th>created by</th>
            <th>highest vote</th>
            <th>date created</th>
        </tr>

    {% for poll in polls %}
        <tr>
            <td><a href="{{ poll.get_url }}">{{ poll.title }}</a></td>
            <td>{{ poll.get_total_votes }}</td>
            <td>{{ poll.user|account_name }}</td>
            <td>{{ poll.get_highest_vote|default:"---" }}</td>
            <td>{{ poll.date_created|naturaltime }}</td>
            <td><a href="{{ poll.get_result_url }}">results</a></td>
            {% if poll.user == user %}
                <td><a href="{% url 'open_close_poll_confirm' poll.id %}?next={{ request.get_full_path|urlencode }}">
                    {% if poll.is_opened %}
                        close
                    {% else %}
                        open
                    {% endif %}
                </a></td>
                <td><a href="{% url 'remove_poll_confirm' poll.id %}?next={{ request.get_full_path|urlencode }}">remove</a></td>
            {% endif %}
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No polls yet.</p>
{% endif %}

