{% extends "base.html" %}

{% block content %}

<h1>{{ poll.title }}</h1>

{% if errors %}
<ul>
    {% for error in errors %}
        <li>{{ error }}</li>
    {% endfor %}
</ul>
{% endif %}

<form method="post" action="{% url 'show_poll' poll.id %}">
    {% csrf_token %}

        {% for option in poll.option_set.all %}

                {% if poll.is_single_choice %}
                    <input type="radio"
                           name="options"
                           id="option_{{ forloop.counter }}"
                           value="{{ option.id }}"
                        {% if forloop.first %}
                            checked
                        {% endif %}
                            />
                {% else %}
                    <input type="checkbox"
                           name="options"
                           id="option_{{ forloop.counter }}"
                           value="{{ option.id }}" />
                {% endif %}

                <label for="option_{{ forloop.counter }}">{{ option.text }}</label>

                <br />
        {% endfor %}

    <input type="submit" value="vote" />
    <input type="hidden" name="next" value="{{ next }}" />
</form>

<a href="{{ poll.get_result_url }}">Results</a>

{% endblock %}